@mixin hover {
	&:hover {
		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			@content;
		}
	}
}

@mixin display($value: 'none') {
	display: #{$value} !important;
}

@mixin centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
@mixin centered-transform {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@mixin border-box-shadow($inset: inset, $size, $color, $border-radius: 0) {
	box-shadow: #{$inset} 0 0 0 #{$size} #{$color};
	border-radius: #{$border-radius};
}

@mixin border-after($size, $color, $border-radius: 0, $inset: 0 0 0 0, $border-side: 'all') {
	&::after {
		content: '';
		position: absolute;
		border-radius: #{$border-radius};
		pointer-events: none;
		inset: $inset;
		@if $border-side == 'all' {
			border: #{$size} solid #{$color};
		} @else if $border-side == 'top' {
			border-top: #{$size} solid #{$color};
		} @else if $border-side == 'bottom' {
			border-bottom: #{$size} solid #{$color};
		} @else if $border-side == 'left' {
			border-left: #{$size} solid #{$color};
		} @else if $border-side == 'right' {
			border-right: #{$size} solid #{$color};
		}
		z-index: 1;
	}
}