$primary-color: #000033 !default;
$primary-gradient: linear-gradient(90deg, #A024D6 0%, #6725D6 100%) !default;
$secondary-color: #FAD87F !default;
$accent-color: #7FC5FA !default;
$yellow-color: #FACC15 !default;
$pink-color: #FF417D !default;
$orange-color: #FF9800 !default;
$green-light-color: #98FF98 !default;
$gray-color: #E3E3E3 !default;
$gray-dark-color: #333333 !default;