$primary-font: 'Press Start 2P', 'Manrope', 'Roboto', sans-serif !default;
$press-start-font: 'Press Start 2P' !default;
$manrope-font: 'Manrope', sans-serif !default;
$roboto-font: 'Roboto', sans-serif !default;

$font-size-12px: 1.2rem !default;
$font-size-14px: 1.4rem !default;