@use '../settings/variables' as *;
@use '../settings/colors' as *;

.c-button {
    overflow: hidden;
    border: none;
    background: none;
    color: white;
    -webkit-text-stroke: 1px $pink-color;
    cursor: pointer;
    transition: all 0.15s ease;

    &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    svg {
        min-width: 24px;
        max-width: 24px;
        min-height: 24px;
        max-height: 24px;
    }

    &:focus {
        transform: scale(0.98);
        background: $orange-color;
        box-shadow: 0.8rem 0 0 0 rgba(255, 152, 0, 0.5);
        -webkit-text-stroke: 0;
        stroke: none;
    }

    &:hover,
    &:active, 
    &--on {
        background: $orange-color;
        box-shadow: 0.8rem 0 0 0 rgba(255, 152, 0, 0.5);
        -webkit-text-stroke: 0;
        stroke: none;
        /* transform: scale(0.98); */
    }   
    &--off {
        -webkit-text-stroke: 1px $pink-color;
        stroke: $pink-color;
    }

    &--pressed {
        transform: translateY(2px) scale(0.98);
        filter: brightness(1.1);
    }
}