@use '../settings/variables' as *;
@use '../settings/colors' as *;
@use '../tools/mixins' as *;

.c-item {
    width: 5.6rem;
    height: 5.6rem;
    border-image-slice: 23 23 23 23;
    border-image-width: auto auto auto auto;
    border-image-outset: 1px 1px 1px 1px;
    border-image-repeat: round round;
    border-image-source: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTgiIGhlaWdodD0iNTgiIHZpZXdCb3g9IjAgMCA1OCA1OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2IDFINTVDNTYuMTA0NiAxIDU3IDEuODk1NDMgNTcgM1YyMk01NyAzNlY1NUM1NyA1Ni4xMDQ2IDU2LjEwNDYgNTcgNTUgNTdIMzZNMjIgNTdIM0MxLjg5NTQzIDU3IDEgNTYuMTA0NiAxIDU1VjM2TTEgMjJWM0MxIDEuODk1NDMgMS44OTU0MyAxIDMgMUgyMiIgc3Ryb2tlPSIjRkFEODdGIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
    border-style: solid;

    svg:first-child, img:first-child {
        @include centered-transform();
        width: 2.8rem;
        height: 2.8rem;
        z-index: 98;
    }
    svg:last-child, img:last-child {
        @include centered-transform();
        top: 80%;
    }

    &--outline {
        background: none;
    }

    &--filled {
        background: $secondary-color;
    }

    img[src=""],
    img:not([src]) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}