@use '../settings/variables' as *;
@use '../settings/colors' as *;
@use '../settings/texts' as *;
@use '../tools/flexbox' as *;

.c-pill {
    background: $accent-color;
    p {
        font-family: $manrope-font;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1rem;
        letter-spacing: 0.02em;
        color: white;
        text-box-trim: none;
    }
}