@use '../settings/variables' as *;
@use '../settings/colors' as *;
@use '../tools/flexbox' as *;
@use '../tools/media-queries' as *;

.c-projects-bag {


    @include mobile {
        flex: none;
    }

    @include tablet-portrait-only {
        flex: none;
        max-width: 95%;
    }
}
