@use '../settings/variables' as *;
@use '../settings/colors' as *;
@use '../settings/texts' as *;
@use '../tools/flexbox' as *;

.c-project-card {
    border-radius: 1.6rem;
    background: #6725d6;
    &__titles {
        p {
            font-family: $primary-font;
            font-weight: 500;
            font-size: $font-size-14px;
            color: white;
        }
        p + p {
            font-family: $roboto-font;
            font-weight: 400;
            font-size: $font-size-12px;
            color: white;
        }
    }   
}